.obligationScreen {
    display: flex;
    flex-direction: row;
}


.obligationArea {
    width: 100%; 
    background-color: #E4E7EF; 
}
.grid{
    height: 115px;
     width: 500px;
}

.gridHeader{
    display: flex;
    flex-direction: row;
    /* margin: 20px;
    margin-right: 20px; */
    background-color: white;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     text-align: left;
}


.gridArea {
   
    margin: auto;
    margin-top:30px;
    width: 1200px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    padding: 20px;
}


.gridSpaceTop{
   
    height: 20px;
    margin: 20px;
    background-color:#d7dae0;

}


.obName {
 margin: 20px;
}

.count{
    color: #E1E1E1; 
    margin: 20px;
}

.ag-row{
    border-bottom: 1px solid grey;
    
}

.ag-header-cell-label{
    text-align: left;
    font-weight: bold;
    
}