.filterArea{
    height: 1000px;
    width: 200px;
    background-color: #393939;
    direction: flex;
    flex-direction: row;

}

.filterArea1 {
    widows: 200px;
    height: 100px;
    border: 3px; 
    background: lightgray;
    padding: 20px;
}

.filterArea2 {
    widows: 200px;
    height: 40px;
    border: 3px; 
    background: grey;
    border-style: solid;
    padding: 20px;
}

.filterArea3 {
    widows: 200px;
    height: 40px;
    border: 3px; 
    background: grey;
    border-style: solid;
    padding: 20px;
}