.topheader{
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: #0079C4; 
    color: white; 
    
}

.line1{
    height: 10px;
    widows: 2px;
    background-color: black;
}

.title{
margin: 30px; 
}

.company{
    
margin: 30px; 
size: 20px;
}


.user{
margin-top: 40px;
    /* margin: 20px; */
margin-left: 600px;
float: left;
}
